simulation:
  name: "Re4000_Room_Stable"
  nx: 1600
  ny: 800

  # --- 物理核心 ---
  # 定義: Re=4000 (基於建築寬度 L=100)
  # niu = (0.05 * 100) / 4000 = 0.00125
  niu: 0.00125

  # 這只是給後處理算 Cd 用，告訴程式我們是用 100 當基準
  characteristic_length: 100.0

  # --- 穩定性控制 ---
  # 因為有尖角，開啟 LES
  smagorinsky_constant: 0.2
  # MRT 參數
  ghost_moments_s: 1.1

  # --- 視覺化 ---
  steps_per_frame: 50
  visualization_gaussian_sigma: 1.0
  warmup_steps: 2000

boundary_condition:
  # 模擬戶外開放空間 (Inlet, Free-Slip, Outlet, Free-Slip)
  type: [0, 2, 1, 2]
  value:
    - [0.05, 0.0] # 標準 LBM 速度，精準且穩定
    - [0.0, 0.0]
    - [0.0, 0.0]
    - [0.0, 0.0]

mask:
  enable: true
  type: "room"
  params:
    shift_left: 500
    angle_deg: 20

    # 維持原幾何
    w: 12
    d_half: 16 # 開口 16
    margin_lr: 700
    margin_td: 300 # 這裡隱含了建築寬度約為 (800 - 350*2) = 100

foler_paths:
  output: "output/re4000_stable/"

display:
  max_size: 960
  gui_show: True
