simulation:
  name: "Re4000_Room_Stable"
  nx: 2048
  ny: 1024

  # --- 物理核心 ---
  # 定義: Re=4000 (基於建築寬度 L=100)
  # nu = (0.05 * 100) / 4000 = 0.00125
  nu: 0.00125

  # 這只是給後處理算 Cd 用，告訴程式我們是用 100 當基準
  characteristic_length: 160.0

  # --- 穩定性控制 ---
  # 因為有尖角，開啟 LES
  smagorinsky_constant: 0.2
  # MRT 參數
  ghost_moments_s: 1.05

  # --- 視覺化 ---
  steps_per_frame: 50
  visualization_gaussian_sigma: 1.0
  warmup_steps: 2000

boundary_condition:
  # 模擬戶外開放空間 (Inlet, Free-Slip, Outlet, Free-Slip)
  type: [0, 2, 1, 2]
  value:
    - [0.05, 0.0] # 標準 LBM 速度，精準且穩定
    - [0.0, 0.0]
    - [0.0, 0.0]
    - [0.0, 0.0]

mask:
  enable: true
  type: "png"
  params:
    path: "src/GenMask/rect_masks/mask_phys_r4_0001_L400.png"

foler_paths:
  output: "output/png/"

display:
  max_size: 960
  gui_show: True
  show_zone_overlay: True

  zone:
    # 真正會被儲存到資料集的範圍是
    # 上 邊界-sponge_y-buffer
    # 下 邊界+sponge_y+buffer
    # 左 邊界+inlet_buffer
    # 右 邊界-sponge_x-buffer
    sponge_y: 64 # 上下邊界阻尼層
    sponge_x: 256 # 右側出口阻尼層
    buffer: 64 # ROI到阻尼層的緩衝區
    inlet_buffer: 128 #入口的緩衝區
