simulation:
  name: "Re1600_rects"
  # 網格尺寸
  nx: 2048
  ny: 1024

  # --- 核心物理參數 ---
  # nu = (U_lb * L_lb) / Re
  # Example: (0.05 * 100) / 4000 = 0.00125
  nu: 0.005
  characteristic_length: 160.0 # 僅用於後處理計算 Cd/Cl

  # --- 運算批次設定 ---
  # 每次呼叫 solver 運算的步數 (建議 20~50)
  # 這決定了 Python 與 GPU 同步的最小顆粒度
  compute_step_size: 50

  # 總模擬步數 (若不指定，程式可自動計算)
  max_steps: 1000000 #1000000
  warmup_steps: 2000 # 預熱步數 (不進行穩定性檢查與數據寫入)

  # --- 湍流模型與穩定性 ---
  smagorinsky_constant: 0.2 # LES 次網格模型常數
  ghost_moments_s: 1.2 # MRT Ghost Moments 鬆弛率 (調高至 1.1~1.2 以壓制棋盤格噪音)

# ==========================================
#   輸出控制 (Outputs) - 獨立開關與頻率
# ==========================================
outputs:
  enable_profiling: false
  # 1. 即時視窗顯示 (GUI)
  gui:
    enable: true
    interval_steps: 100 # 確保是compute_step_size的整數倍
    max_size: 550 # 視窗最大寬度 (像素)
    show_zone_overlay: true # 顯示 Sponge/ROI 框線
    gaussian_sigma: 1.0 # 視覺化平滑度

  # 2. 影片錄製 (Video)
  video:
    enable: true # 訓練數據時建議關閉以節省時間
    interval_steps: 100 # 確保是compute_step_size的整數倍
    fps: 30
    filename: "simulation_video.mp4"

  # 3. 深度學習數據集 (HDF5 Writer)
  dataset:
    enable: true
    interval_steps: 100 # 確保是compute_step_size的整數倍
    folder: "outputs/simulation_data/batch_run_rects/"
    compression: "lzf" # 推薦 lzf (速度快) 或 gzip (體積小)
    save_resolution: 512

# ==========================================
#   邊界與幾何 (Geometry & Boundary)
# ==========================================
boundary_condition:
  # 0: Inlet (Velocity), 1: Outlet (Pressure), 2: Free-Slip (Wall)
  # 順序: [Left, Right, Top, Bottom] -> 開放場景通常設為 Inlet/Outlet/Free/Free
  type: [0, 2, 1, 2]
  value:
    - [0.05, 0.0] # Inlet Velocity (u_lb = 0.05)
    - [0.0, 0.0]
    - [0.0, 0.0]
    - [0.0, 0.0]

mask:
  enable: true
  type: "png"
  # 若有需要反轉 mask 顏色 (0/1)，可在此加入參數
  invert: false
  path: "src/tools/rect_masks/mask_phys_r4_0017.png"

# 用於定義數據集感興趣區域 (ROI) 與阻尼層 (Sponge Layer)
domain_zones:
  sponge_y: 64 # 上下邊界阻尼層厚度
  sponge_x: 128 # 右側出口阻尼層厚度
  buffer: 64 # ROI 外圍緩衝區 (避免邊界效應)
  inlet_buffer: 128 # 入口緩衝區
